@use 'normalize';
@use 'variables';

html {
  direction: rtl;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  min-height: 100svh;

  &::-webkit-scrollbar {
    width: 0.75rem;
  }

  &::-webkit-scrollbar-track {
    background-color: hsl(0, 0%, 85%);
  }

  &::-webkit-scrollbar-thumb {
    background-color: hsl(0 0% 55%);
    border: 1.5px solid hsl(0 0% 35%);

    &:hover {
      background-color: hsl(0, 0%, 35%);
    }
  }
}
